.seventhContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fincorp-ac859.appspot.com/o/sevenSection%2Ffamily-illustration-1.png?alt=media&token=e051566d-1687-41bd-acf1-b4dd947b040a');
    height: 850px;
    background-repeat: no-repeat;
    background-position-x: right;

}
.seventhInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}