.honestContainer{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fincorp-ac859.appspot.com/o/sixthSection%2FComposed-layer-3.png?alt=media&token=18629442-206d-4b38-bedd-1be4c85b0a6f');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 800px;
}
.honestCardContent{
    display: flex;
    position: relative;
    align-items: center;
    width: 888px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}
.centerCard{
    position: absolute;
    height: 456px;
    left: 300px;;
    background-color: rgb(255, 255, 255);
}
.honestTitle{
    margin: 50px 0px;
    margin-bottom: 100px;
}
.centerCardTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.save {
    background: #fff4b4;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #ddb85f;
    margin-top: 10px;
}