.containerFirstSection{
    width: 100%;
}
.containerFirstSection header {
    display: flex;
    align-items: center;
    padding-left: 342px;
    height: 84px;
    flex-direction: row;
    border-bottom: solid rgb(228, 226, 226) 1px;
}
.topBar{
    width: 100%;
}
.containerFirstSection a {
    text-decoration: none;
    color: black;
}
.containerFirstSection ul {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.containerFirstSection li {
    list-style: none;
    margin-left: 40px;
}
.logo{
    width: 121px;
    height: 32px;
}
.banner{
    width: 1000px;
    height: 964px;
    position: absolute;
    right: 0px;
    top: -200px
}
.helloContent {
    margin-top: 193px;
    margin-left: 342px;
}
.helloContent h1{
    font-size: 54px;
}
.titleContent {
    margin-top: 200px;
    width: 100%;
    text-align: center;
}
.titleContent h1{
    font-size: 40px;
}
.bottomFirstSection{
    display: flex;
    width: 100%;
    margin-top: 99px;
}
.containerFirstSection aside {
    width: 622px;
    height: 558px;
    margin-left: -91px;
}
.headTitle{
    width: 491px;
    color: #2b7fff;
    font-weight: bold;
}
.greating {
    font-weight: bold;
}
.bgHealth {
    margin-top: 99px;
}
.myButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(70deg,#eda384, #f15380,#f3237d);
    width: 215px;
    height: 62px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #e6255a;;
}
@media screen and (max-width: 412px){
    .containerFirstSection header {
        padding-left: 0px;
        justify-content: space-around;
    }
    .containerFirstSection aside {
        width: 100%;
        margin-left: 0px;
        height: auto;
        padding: 10px;
    }
    .helloContent {
        margin-top: 50px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titleContent {
        margin-top: 118px;
        width: 100%;
        text-align: center;
    }
    .headTitle {
        width: 100%;
        color: #2b7fff;
        font-weight: bold;
    }
    .containerSecondCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        align-items: center;
        margin-bottom: 80px;
    }
    .claimContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .fourthContainer {
        margin: 50px 0px !important;
        height: auto !important;
    }
    .containerSatisfaction {
        width: auto;
        display: flex;
        justify-content: center;
        margin: 0px 10px;
    }
    .mainStatisfaction img {
        z-index: 1;
        width: 47px;
        opacity: 0;
    }
    .fifth  {
        font-size: 19px !important;
        font-weight: bold !important;
        margin-left: 40px !important;
    }
    .fifthSub {
        margin-left: 40px;
        display: inline-block;
    }
    .buttonQuote {
        display: flex;
        align-items: center;
        background-color: #25cfa2;
        height: 40px;
        margin: 12px;
        padding: 10px;
        border-radius: 10px;
        color: white;
        text-align: center;
    }
    .seventhContainer {
        height: 501px !important
    }
    .containerItemFoot {
        height: 150px;
        width: 80%;
    }
    .sevencardTitle {
        padding: 0px 80px !important;
    }
    
}   